﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="has-error center">
                <h1>Страница не найдена <small><font face="Tahoma" color="red" class="text-warning">Ошибка 404</font></small></h1>
                <br />
                <p>Страница к которой Вы обращались не найдена. Попробуйте обратиться к ней позжа, в случае неудачи свяжитесь с администрацией.</p>
                <p><b>Или нажмите эту маленькую кнопку ниже:</b></p>
                <a href="/Home/Index" class="btn btn-lg btn-info"><i class="icon-home icon-white"></i> На главную</a>
            </div>
            <br />
        </div>
    </div>
</div>

