﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/qsScripts")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Магазин квадрокоптеров", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя", "Index", "Home")</li>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                        <li>@Html.ActionLink("Войти", "SignIn", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Выход", "LogOff", "Account")</li>
                    }
                </ul>

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                    <div class="text-right text-info">
                        <p>Здравствуйте,<a href="/User/ViewProfile/?login=@User.Identity.Name">@HttpContext.Current.User.Identity.Name!</a> </p>
                    </div>
                    <div class="text-right text-info"></div>
                    <p align="right"><a href="/Basket/index">Корзина<span class="badge" id="countOfItems">@ViewBag.CountOfQuadrocopters </span></a> </p>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            Vadim Birkos, 2017
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $.get(
  "/Basket/GetCountOfItems",
  {
  },
  function (data) {
      CountOfBasket(data);
  }
);
    });

    function CountOfBasket(count) {
        var spanEl = document.getElementById("countOfItems");
        spanEl.innerText = count;
    }
</script>
