﻿@model MvcPL.ViewModels.ShopMainViewModel
@* TODO: Change work with count of items in collections for improve performance  *@
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse-1" data-toggle="collapse"> Производители</a>
                        </h4>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @foreach (var item in Model.FilterPanelViewModel.Brands)
                            {
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkbox-inline checkedFilter" id="brand" value="@item.Name" onclick="filterQuadrocopters()">
                                            @item.Name <span class="badge">@item.Count</span>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse-2" data-toggle="collapse">Страны заводов</a>
                        </h4>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var item in Model.FilterPanelViewModel.Countries)
                            {
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        <label>

                                            <input type="checkbox" class="checkbox-inline checkedFilter" id="country" value="@item.Name" onclick="filterQuadrocopters()">
                                            @item.Name <span class="badge">@item.Count</span>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapse-3" data-toggle="collapse">Наличие камеры</a>
                        </h4>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (var item in Model.FilterPanelViewModel.CameraPresenses)
                            {
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkbox-inline checkedFilter" id="cameraPres" value="@item.Type" onclick="filterQuadrocopters()">
                                            @item.Type <span class="badge">@item.Count</span>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default btn-group-justified" onclick="clearFilters()">
                    Очистить фильтр   <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
        </div>
    </div>
</div>