﻿@model MvcPL.ViewModels.QuadrocopterPaginationModel
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<div class="container-fluid">
    <div class="row" data-columns>
        @foreach (var item in Model.Quadrocopters)
        {
            <div class="col-xs-6 col-md-4 quadroItems">
                <div class="thumbnail">
                    <input type="hidden" name="Country" value="@item.MadeCountry.Name"/>
                    @if (item.ImagePath == null)
                    {
                        <a href="/Quadrocopter/ShowQuadrocopter/?quadroId=@item.Id">
                            <img src="http://placehold.it/600x340" alt="" class="img-responsive"/>
                        </a>
                    }
                    else
                    {
                        <a href="/Quadrocopter/ShowQuadrocopter/?quadroId=@item.Id"><img class="img img-responsive"  src="@item.ImagePath" alt=""/></a>
                    }
                    <div class="caption">
                        <a href="/Quadrocopter/ShowQuadrocopter/?quadroId=@item.Id" class="navbar-link">
                            <h3>@item.Name</h3>
                        </a>
                        <p>@item.Brand.Name</p>
                        <h5><b>@item.Cost y.e</b></h5>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="add-to-busket">
                            <a class="btn btn-default" onclick="addToBusket('@User.Identity.Name','@item.Id')"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>


