﻿@if (User.IsInRole("admin"))
{
    <a href="/Quadrocopter/AddQuadrocopter" class="btn btn-default">Добавить квадрокоптер </a>
                    <h5></h5>
}
<select onchange="changeCountOfElementsOnView()" id="countItems">
    <option>3</option>
    <option selected>6</option>
    <option>9</option>
    <option>15</option>
</select>
