﻿@using BLL.Interface.Entities
@model MvcPL.ViewModels.CreateQuadrocopterViewModel

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование @Model.Name</h2>
<div class="container-fluid">
    @using (Html.BeginForm("AddQuadrocopter", "Quadrocopter", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        var brandList = ViewBag.Brands as List<Brand>;
                    }
                    @if (brandList != null)
                    {
                        <select class="form-control" id="BrandId" name="BrandId">
                            @foreach (var item in brandList)
                            {
                                if (Model.BrandId == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Name</option>
                                    continue;
                                }

                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CameraPresenseId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        var cameraPresenceList = ViewBag.CameraPres as List<CameraPresense>;
                    }
                    @if (cameraPresenceList != null)
                    {
                        <select class="form-control" id="CameraPresenseId" name="CameraPresenseId">
                            @foreach (var item in cameraPresenceList)
                            {
                                if (Model.CameraPresenseId == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Type</option>
                                    continue;
                                }

                                <option value="@item.Id">@item.Type</option>
                            }
                        </select>
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MadeCountryId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        var selectList = ViewBag.Countries as List<Country>;
                    }
                    @if (selectList != null)
                    {
                        <select class="form-control" id="MadeCountryId" name="MadeCountryId">
                            @foreach (var item in selectList)
                            {
                                if (Model.MadeCountryId == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Name</option>
                                    continue;
                                }

                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Article, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Article, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Article, "", new { @class = "text-danger" })
                </div>
            </div>
            @if ((string)ViewBag.Image == null)
            {


            }
            else
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Выберите изображение </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UploadedPreviewImage, new
                        {
                            type = "file",
                            accept = "image/jpeg,image/png",
                        })
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.ControlDistance, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ControlDistance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ControlDistance, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад к списку", "Index")
    </div>
</div>
