﻿@model MvcPL.ViewModels.QuadrocopterViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <h4>Quadrocopter</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                @if (Model.ImagePath != null)
                {
                    <img class="img img-responsive"  src="@Model.ImagePath" alt=""/>

                }
                else
                {
                    <img src="http://placehold.it/600x340" class="img img-responsive"  alt="" />
                }
                
            </div>
            <div class="col-xs-12 col-md-8 text-left" style="vertical-align:central">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Cost)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cost) у.е. 
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Article)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Article)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Brand)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.MadeCountry)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MadeCountry)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CameraPresense)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CameraPresense)
                    </dd>

                    <dt>
                        <p>@Html.DisplayNameFor(model => model.ControlDistance)</p>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ControlDistance)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-info">
                <h3><b>Описание</b></h3>
                <p class="text-info">
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
</div>
<p>
    @*TODO @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
   <a href="/Busket/AddToBusket/?userName=@User.Identity.Name&quadrocopterId=@Model.Id"></a>
    @Html.ActionLink("На главную", "Index", "Home")
</p>
