﻿@model BLL.Interface.Entities.User
@{
    ViewBag.Title = "UpdateImage";
}
<form action="UpdateImage.cshtml" method="post" enctype = "multipart/form-data">

    <label class="label-info">Изменение фото для @User.Identity.Name</label>
    <div class="form-group">
        <label for="fileUpload">Выберите изображение</label>
        <input type="file" id="fileUpload" name="fileUpload"  accept = "image/jpeg,image/png">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <input type="submit" class="btn send-btn" value="Отправить"/>
</form>

