﻿@model BLL.Interface.Entities.User
@{
    ViewBag.Title = "Профиль";
}

<h2>Профиль</h2>
<div class="container">
    <div class="row center-block">
        <div class="col-md-3">
            <div class="img-thumbnail">
                <div class="img-circle">
                    @if (Model.AvatarPath == null)
                    {
                        <img src="~/Uploads/non-image.jpg" width="200" height="200" alt=""/>
                    }
                    else
                    {
                        <img class="img-circle" src="@Model.AvatarPath" width="200" height="200" alt=""/>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>Логин</dt>
                    <dd>@Model.Login</dd>
                    <dt>Дата создания</dt>
                    <dd>@Model.Created</dd>
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        <dt>Уровень привелегий</dt>
                        <dd>@Model.Role.Title</dd>
                    }
                </dl>
            </div>
            <br/>
            <div class="list-inline">
                <ul class="list-group list-inline">
                    @if (User.IsInRole("admin") || Model.Login == User.Identity.Name)
                    {
                        <li class="list-group-item">@Html.ActionLink("Удалить аккаунт", "DeleteUser", "User", new { id = Model.Id }, new { id = "del" })</li>
                    }
                    @if (Model.Login == User.Identity.Name)
                    {
                        <li class="list-group-item"><a href="../User/UpdateImage/@Model.Id" class="btn-link" >Изменить картинку</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
