﻿@using MvcPL.Infrastructure
@model MvcPL.ViewModels.ShopMainViewModel
@{
    ViewBag.Title = "Главная";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel-heading ">
                <div class="col-md-offset-0">
                    <h3 class="text-uppercase"><b>Квадрокоптеры</b></h3>
                </div>
            </div>
            @Html.Partial("FilterPanel", Model)
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="panel-heading">
                <h6></h6>
                <div class="btn-group">
                    @Html.PageLinks(Model.QuadrocoptersPagination.PageInfo, x => Url.Action("Index", "Quadrocopter", new { page = (x != 0) ? x : 1 }))
                    @Html.Partial("ToolsForProducts")
                </div>
                <div id="quadrocoptersList">
                    @Html.Partial("QuadrocoptersView", Model.QuadrocoptersPagination)
                </div>
                <div class="panel-heading">
                    <div class="btn-group">
                        @Html.PageLinks(Model.QuadrocoptersPagination.PageInfo, x => Url.Action("Index", "Quadrocopter", new { page = (x != 0) ? x : 1 }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
