﻿@model MvcPL.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <fieldset>
            <h2>Регистрация нового аккаунта</h2>
            <div class="form-group">
                <div class="editor-label">
                    <h6>@Html.LabelFor(model => model.Login)</h6>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Login, new
                       {
                           @class = "form-control",
                           placeholder = "Пароль"

                       })
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    <h6>@Html.LabelFor(model => model.Password)</h6>
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password, new
                       {
                           @class = "form-control",
                           placeholder = "Пароль"

                       })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="form-group">
                <div class="editor-label">
                    <h6>@Html.LabelFor(model => model.ConfirmPassword)</h6>
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.ConfirmPassword, new
                       {
                           @class = "form-control",
                           placeholder = "Подтвердите пароль"

                       })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
        </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}