﻿@model MvcPL.ViewModels.SignInViewModel

@{
    ViewBag.Title = "Sign In";
}
<div class="post">
    <div class="post-margin">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <h2>Вход</h2>
                <div class="form-group">
                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.Login)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Login, new
                        {
                            @class = "form-control",
                            placeholder = "Пароль"

                        })
                        @Html.ValidationMessageFor(model => model.Login)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        <h6>@Html.LabelFor(model => model.Password)</h6>
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password, new
                        {
                            @class = "form-control",
                            placeholder = "Пароль"

                        })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="editor-label">
                        <h6>
                            Remember me @Html.CheckBoxFor(model => model.RememberMe)
                        </h6>
                    </div>
                </div>
                <input type="submit" value="Войти" class="btn btn-primary" />
                <div>
                    <h6>Уже есть аккаунт? @Html.ActionLink("Зарегистрируйся!", "Register")</h6>
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}