﻿@using System.Collections.Generic;
@model BLL.Interface.Entities.Basket

@{
    ViewBag.Title = "Корзина";
}

<h2>Коризна пользователя @User.Identity.Name</h2>
<table class="table">
    <tr>
        <th>Товар</th>
        <th>Брэнд</th>
        <th>Описание</th>
        <th>Количество</th>
        <th>Стоимость</th>
        <th>Артикль</th>
    </tr>
    @foreach (var item in Model.Quadrocopters)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Brand.Name</td>
            <td>@item.Description</td>
            <td></td>
            <td>@item.Cost</td>
            <td>@item.Article</td>
            
            <td>
                @*TODO @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Удалить", "Delete", new { quadroId = item.Id , basketId = Model.Id})
            </td>
        </tr>
        }
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th rowspan="1" class="text-center">Общая стоимость: @Model.Quadrocopters.Sum(item =>item.Cost)</th>
    </tr>
    </table>
